[
  {
    "header": {
      "title": "Desconecta del mundo",
      "welcomeMessage": "Hasta que no estamos perdidos no comenzamos a entendernos a nosotros mismos.",
      "description": "No importa el destino, playa, montaña, caminos. Ponte cómodo, deja el teléfono en casa y desconecta por unas horas de todo.",
      "periodType": "FIXED",
      "period": "W",
      "duration": 10080,
      "active": true,
      "levelRequired": 1,
      "baseRewardXP": 1,
      "basePenaltyXP": 1,
      "nextQuest": null
    },
    "details": [
      { 
        "needParam": false, 
        "description": "Da un paseo de mínimo una hora sin ninguna tecnología.",
        "labelParam": "Pasear",
        "descriptionParam": null,
        "isEditable": false
      }
    ],
    "objects": [
      { 
        "idObject": 1,
        "type": "R", 
        "quantity": 55 
      },
      { 
        "idObject": 1,
        "type": "P", 
        "quantity": 20 
      }
    ]
  }
]